@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Oswald');
body{
	background:#222;
	text-align: center;
	font-family: 'Oswald', sans-serif;
}
hr{
	border: 1px solid #999;
	text-align: center; 
}
.banner{
	font-family: 'Oswald', sans-serif;
	/*font-family: 'Berkshj87ire Swash', cursive;*/
	font-size: 125px;
	text-align: center; 
	color:#999;
}
.topMenu{
	font-family: 'Oswald', sans-serif;
	font-size:50px; 
	color:#999; 
	text-decoration:none;
	list-style-type:none;
	display: inline-block;
	text-align: center; 
	margin: 10px;
}
a{
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
	color: #999;
	padding: 0 10px;
}
.cdList{
	font-family: 'Oswald', sans-serif;
	text-align: left;
	color: #999;

}
.playlist{
	text-align: left;
	display: inline-block;
	width: 49%;
}
.playButton{
	text-align: right;
	display:inline-block;
	width: 49%;
}
footer{
	font-family: 'Oswald', sans-serif;
}